- if obj.errors.any?
  %div.container
    %div.row.sign-up-form
      %div.col.s12.m12.l12
        %div.card-panel.red.lighten-2
          %span.white-text
            %strong
              = pluralize(obj.errors.count, 'error')
            prohibited object from being saved:
            %ul
              - obj.errors.full_messages.each do |msg|
                %li
                  = msg
